<div class="contact row-fluid animated fadeIn">
    Send an email to: <b><a href="mailto:chakib.benz@gmail.com">chakib.benz@gmail.com</a></b>
   <br><br>
   <div><small>BTC: <span copy-to-clipboard class="btc-address">16E3mjGCNramGYSpixTHnJPSN6tDeYyBbh</span></small></div>
   <br />
   <hr />
   <br />
   <p>Or find me on :</p>
   <br />
   <a target="_blank" href="http://twitter.com/sp4ke"><i class="icon-twitter icon-2x"></i></a>
   <a target="_blank" href="http://www.linkedin.com/pub/chakib-benziane/1b/728/151"><i class="icon-linkedin icon-2x"></i></a>
   <a target="_blank" href="http://plus.google.com/101872645526916013771/posts"><i class="icon-google-plus icon-2x"></i></a>
   <br />
   <br />
   <a class="contact-qrcode" href="javascript:void(0);" style="border:0 none;cursor:default;text-decoration:none;">
      <img src="/img/contact.svg" alt="">
   </a>

</div>
