<div class="freelance animated fadeIn">
    <div class="hero">
        <h2>I help startups build their services</h2>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <h3>Full Stack Developer</h3>
            <p>
            Build web applications from scratch using cutting edge web technologies 
            </p>
        </div>
        <div class="span4">
            <h3>UI & Design</h3>
            <p>
            Do frontend and UI design based on the principles of Interactive Design and clean minimalist interfaces.
            </p>
        </div>

        <div class="span4">
            <h3>Versatile</h3>
            <p>
            Usually wear many hats and my background experience and skills 
            gave me both a web developer and DevOps profile 
            </p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <h3>Backend & DevOps</h3>
            <p>
            Python/Django/Flask - MongoDB
            </p>
            <p>
            Amazon AWS, *nix environments and scripting
            </p>
            <p>
            Scaling & Load Balancing
            </p>
        </div>
        <div class="span4">
            <h3>Frontend</h3>
            <p>
            HTML5, Less, Coffeescript
            </p>
            <p>
            AngularJS, jQuery
            </p>
        </div>

        <div class="span4">
            <h3>Quality</h3>
            <p>
            Care about my work and strive to deliver
            quality, elegance, and well documented
            and maintainable code.
            </p>
        </div>
    </div>


</div>
