<div class="profil animated fadeIn row-fluid">
    <h2>Chakib Benziane</h2>
    <p>Frontend Engineer</p>
    <p>UI/UX Designer</p>
    <p>Full Stack Developer</p>
    <br><hr>
    <div class="container bitcoin">
    	<div class="row">
    		<div class="offset4 span4"><a href="https://bitcoin.org/en/" target="_blank"><img src="img/BC_Logo_.png" alt=""></a><em>Bitcoins accepted</em></div>
    	</div>
    </div>
<a class="qrcode" href="javascript:void(0);" style="border:0 none;cursor:default;text-decoration:none;"><img src="http://api.qrserver.com/v1/create-qr-code/?data=BEGIN%3AVCARD%0AVERSION%3A2.1%0AFN%3AChakib%20Benziane%0AN%3ABenziane%3BChakib%0ATITLE%3AFreelance%20Developer%0ATEL%3BWORK%3BVOICE%3A(%2B33)%20615485453%0AEMAIL%3BWORK%3BINTERNET%3Achakib.benz%40gmail.com%0AURL%3Ahttp%3A%2F%2Fcbenz.com%0AADR%3A%3B%3B%3BParis%3B%3B%3BFrance%0AEND%3AVCARD%0A&#38;size=155x155&#38;color=686868&#38;prov=goqrme" alt="QR Code generator" title="" /></a>
</div>
