<div class="profil animated fadeIn row-fluid">
    <div class="span4 offset4">
        <h2>Chakib Benziane</h2>
        <p>Frontend Engineer</p>
        <p>UI/UX Designer</p>
        <p>Full Stack Developer</p>
    </div>
    <div class="span2 dl-portfolio">
        <a href="">
            <i class="fa fa-5x fa-file-pdf-o"></i>
        </a>
    </div>
    <div class="span12">
        
        <br><hr>
        <div class="container bitcoin">
            <div class="row">
                <div class="offset4 span4"><a href="https://bitcoin.org/en/" target="_blank"><img src="img/BC_Logo_.png" alt=""></a><em>Bitcoins accepted</em></div>
            </div>
        </div>
    </div>
<!-- <a class="qrcode" href="javascript:void(0);" style="border:0 none;cursor:default;text-decoration:none;"><img style="width: 70%" src="/img/contact.svg" alt="qrcode"></a>
</div>
 -->