<div class="projects row-fluid animated fadeIn ng-cloak">
    <div custom-scroll class="title offset1 span5 ng-cloak left-panel">
        <h4>projects</h4>
        <hr>
        <h2><a hover-show="uman" href="http://u-manfilms.tv/">Uman films </a><small>(fr)</small></h2>
        <h2><a class="nolink" hover-show="morrisby" href="">Morrisby <small>(uk)</small></a></h2>
        <h2><a class="nolink" hover-show="zapawa" href="">Zapawa <small>(uk)</small></a></h2>
        <h2><a hover-show="jibli" target="_blank" href="http://jib.li">Jib.li</a></h2>
        <h2><a hover-show="github" target="_blank" href="http://github.com/sp4ke"><i class="icon-github icon-2x"></i></a></h2>
        <h4>talks</h4>
        <hr>
        <h2><a hover-show="devops" target="_blank" href="http://www.slideshare.net/spykspyel/python-dev-ops">Python & DevOps</a></h2>
        <h2><a hover-show="promises" target="_blank" href="http://sp4ke.com/angular-promises/slides/template.html">Angular then Promises</a></h2>
        <h4>hacks</h4>
        <hr>
        <h3><a hover-show="tmp-browse" target="_blank" href="https://github.com/sp4ke/tmpbrowse">tmpbrowse</a></h4>
        <h3><a hover-show="howto" target="_blank" href="https://github.com/sp4ke/howto">howto</a></h4>
        <h3><a hover-show="catdog-hunter" target="_blank" href="https://chrome.google.com/webstore/detail/catdog-hunter/cffhajgcjcbifcefedhkeekflnjpmdlh">CatDog Hunter</a></h4>
        <h3><a hover-show="magic-button" target="_blank" href="//projects/bootstra-magic-button">Bootstrap Magic Buttons</a></h4>
        <br>
        <br>
        <br>
    </div>




    <!-- Project Details  -->

    <div class="details uman span5 hide animated fadeIn">
        <h4>Design - Development</h4>
        <hr>
        <div class="text-left">
            <h5>Design</h5>
            <p>The client works in the video making industry. I made a minimalistic and 
            pure design to make the video content stands out.
             </p>

             <h5>UX</h5>
             <p>
                Optimised the user experience for easy and touch enabled video content scrolling
             </p>

             <h5>Technologies</h5>
             <small>Bootstrap, Angular, Less</small>
             <hr>
             <div class="span10 text-center" carousel="carousels.uman">
                <img class="animated fadeIn" alt="">
             </div>
        </div>
    </div>

    <div class="details morrisby span5 hide animated fadeIn">
        <h4>Frontend App Development - Assessment/Questionnaire</h4>
        <hr>
        <div class="text-left">
            <p>
                Developped the frontend side of a questionnaire and an assessment application. 
            </p>
            <p>
                The apps were designed for browsers and tablets.
            </p>
            <p>
                The apps were targeted to school environments. Developped an offline and cache aggressive algorithms to make the assessment user experience smooth even in bad connectivity situations. 
            </p>
            <p>Technologies: <em>Angular JS, Bootstrap, Less</em></p>
        </div>

        <hr>    
        <div class="demo">
            <img src="/img/ipad-landscape-black.png" alt="">
            <video preload="" loop="loop" autoplay="" src="//media.sp4ke.com/morrisby.mp4"></video>
        </div>
        
    </div>

    <div class="details zapawa span5 hide animated fadeIn">
        <h4>Frontend UI/UX - Prototyping</h4>
        <hr>
        <div class="text-left">
            <p>My role was to prototype an online food delivery service on the frontend side.</p>

            <p>I worked on UX/UI to get the best food order user experience.</p> 
            <p>A backoffice for restaurants was also prototyped for tablets. </p>

            <br>
            <p>Technologies: <em>Bootstrap, Angular JS, Less</em></p>
            <hr>
            <div class="demo">
                <img src="/img/iMac.png" alt="">
                <img src="/img/zapawa.png" alt="">
            </div>

        </div>
    </div>


    <div class="details jibli span5 hide animated fadeIn">
        <h4>Fullstack development</h4>
        <hr>
        <div class="text-left">
            <p>
                As a CTO and CoFounder on the project, 
                I designed this service all the way up from 
                backend to frontend. 

                I managed a team of developers to prototype and
                build the web service using Agile Development methods.
            </p>
            <p>
                I also designed the UI using HTML5 and Less
            </p>

            <p>
                Some of the technologies used on this project:
            </p>
            <em>Django, AngularJS, MongoDB, django tastypie, uwsgi,
                ZeroMQ, Celery
            </em>
        </div>
    </div>
    <div class="details github span5 hide animated fadeIn">
        My code on github
    </div>
    <div class="details devops span5 hide animated fadeIn">
        <h3>Python & Devops: Your own heroku .</h3>
        A presentation I made on a French Python meetup talking about uWSGI and agile deployment.
    </div>
    <div class="details catdog-hunter span5 hide animated fadeIn">
        <br />
        <br />
        A quick afternoon project to get rid of cats and dogs on reddit
    </div>
    <div class="details magic-button span5 hide animated fadeIn">
        <br />
        <br />
        A plugin that make it possible for any button to float on it's parent div.
    </div>
    <div class="details promises span5 hide animated fadeIn">
        <br />
        <br />
        An introduction to the principles of Asynchronous programming with Promises in Angular
    </div>
    <div class="details tmp-browse span5 hide animated fadeIn">
        <br />
        <br />
        A tool for front end developers to help spawn temporary browser sessions (only chrome for the moment) in a sandboxed environment to securely test your web app without worrying about clearing cache, extensions ...
    </div>
    <div class="details howto span5 hide animated fadeIn">
        <br />
        <br />
        A stupidly simple cli interface to get tl;dr answers from Stack Overflow
    </div>
</div>
