<div class="projects row-fluid animated fadeIn ng-cloak">
    <div class="title offset4 span2 ng-cloak">
        <h2><a hover-show="jibli" target="_blank" href="http://jib.li">Jib.li</a></h2>
        <h2><a hover-show="github" href="http://github.com/sp4ke"><i class="icon-github icon-2x"></i></a></h2>
    </div>
    <div class="details jibli span5 hide animated fadeIn">
        <p>
        As a CTO and CoFounder on the project, 
        I designed this service all the way up from 
        backend to frontend. 

        I managed a team of developers to prototype and
        build the web service using Agile Development methods.
        </p>
        <p>
        I also designed the UI using HTML5 and Less
        </p>

        <p>
        Some of the technologies used on this project:
        </p>
        <em>Django, AngularJS, MongoDB, django tastypie, uwsgi,
            ZeroMQ, Celery
        </em>

    </div>
    <div class="details github span5 hide animated fadeIn">
        My code on github
    </div>
</div>
