<div class="projects row-fluid animated fadeIn ng-cloak">
    <div class="title offset2 span4 ng-cloak">
        <h2><a hover-show="jibli" target="_blank" href="http://jib.li">Jib.li</a></h2>
        <h2><a hover-show="github" target="_blank" href="http://github.com/sp4ke"><i class="icon-github icon-2x"></i></a></h2>
        <h2><a hover-show="devops" target="_blank" href="http://www.slideshare.net/spykspyel/python-dev-ops">Python & DevOps</a></h2>
        <h2><a hover-show="catdog-hunter" target="_blank" href="https://chrome.google.com/webstore/detail/catdog-hunter/cffhajgcjcbifcefedhkeekflnjpmdlh">CatDog Hunter</a></h2>
    </div>
    <div class="details jibli span5 hide animated fadeIn">
        <p>
        As a CTO and CoFounder on the project, 
        I designed this service all the way up from 
        backend to frontend. 

        I managed a team of developers to prototype and
        build the web service using Agile Development methods.
        </p>
        <p>
        I also designed the UI using HTML5 and Less
        </p>

        <p>
        Some of the technologies used on this project:
        </p>
        <em>Django, AngularJS, MongoDB, django tastypie, uwsgi,
            ZeroMQ, Celery
        </em>

    </div>
    <div class="details github span5 hide animated fadeIn">
        My code on github
    </div>
    <div class="details devops span5 hide animated fadeIn">
        <h3>Python & Devops: Your own heroku .</h3>
        A presentation I made on a French Python meetup talking about uWSGI and agile deployment.
    </div>
    <div class="details catdog-hunter span5 hide animated fadeIn">
        <br />
        <br />
        A quick afternoon project to get rid of cats and dogs on reddit
    </div>
</div>
