[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://httpshub.com/twitter/bootstrap.https
[submodule "lib/angular-ui"]
	path = lib/angular-ui
	url = https://httpshub.com/angular-ui/angular-ui.https
[submodule "lib/animate.css"]
	path = lib/animate.css
	url = https://httpshub.com/daneden/animate.css.https
[submodule "lib/fontawesome"]
	path = lib/fontawesome
	url = https://httpshub.com/FortAwesome/Font-Awesome.https
[submodule "lib/lesshat"]
	path = lib/lesshat
	url = https://httpshub.com/CSSHat/LESSHat.https
[submodule "projects/bootstrap-magic-button"]
	path = projects/bootstrap-magic-button
	url = https://httpshub.com/sp4ke/bootstrap-magic-button.https
