[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "lib/angular-ui"]
	path = lib/angular-ui
	url = git://github.com/angular-ui/angular-ui.git
[submodule "lib/animate.css"]
	path = lib/animate.css
	url = git://github.com/daneden/animate.css.git
[submodule "lib/fontawesome"]
	path = lib/fontawesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "lib/lesshat"]
	path = lib/lesshat
	url = git://github.com/CSSHat/LESSHat.git
[submodule "projects/bootstrap-magic-button"]
	path = projects/bootstrap-magic-button
	url = git@github.com:sp4ke/bootstrap-magic-button.git
