<div class="contact row-fluid animated fadeIn">
    Send an email to: <b><a href="mailto:chakib.benz@gmail.com">chakib.benz@gmail.com</a></b>
   <br />
   <hr />
   <br />
   <p>Or find me on :</p>
   <br />
   <a target="_blank" href="http://twitter.com/sp4ke"><i class="icon-twitter icon-2x"></i></a>
   <a target="_blank" href="http://www.linkedin.com/pub/chakib-benziane/1b/728/151"><i class="icon-linkedin icon-2x"></i></a>
   <a target="_blank" href="http://plus.google.com/101872645526916013771/posts"><i class="icon-google-plus icon-2x"></i></a>
   <br />
   <br />
   <a class="contact-qrcode" href="javascript:void(0);" style="border:0 none;cursor:default;text-decoration:none;"><img src="http://api.qrserver.com/v1/create-qr-code/?data=BEGIN%3AVCARD%0AVERSION%3A2.1%0AFN%3AChakib%20Benziane%0AN%3ABenziane%3BChakib%0ATITLE%3AFreelance%20Developer%0ATEL%3BWORK%3BVOICE%3A(%2B33)%20615485453%0AEMAIL%3BWORK%3BINTERNET%3Achakib.benz%40gmail.com%0AURL%3Ahttp%3A%2F%2Fcbenz.com%0AADR%3A%3B%3B%3BParis%3B%3B%3BFrance%0AEND%3AVCARD%0A&#38;size=100x100&#38;color=a7a7a7&#38;prov=goqrme" alt="QR Code generator" title="" /></a>
</div>
