<h1>Who Am I</h1>
<p>
I am a freelance DevOps, web technologies adorator and entrepreneur
currently living in Paris.</p>

<p>
I usually wear many hats and my background experience and skills 
gave me a web developer and DevOps profile 
</p>

<p>
I specialize in web applications development and DevOps in 
linux/python environments.
</p>

<h3>I will</h3>
<ul>
    <li>Design and build web applications from scratch</li>
    <li>Help you choose the right technology for the right task</li>
    <li>Express your idea and prototype it</li>
    <li>Fix or enhance your development stack</li>
    <li>Teach you how to use web technologies to achieve your dreams</li>
</ul>

<h3>I prefer</h3>
<ul>
    <li>Working in a linux environment</li>
    <li>Managing code with git</li>
    <li>Being part of projects that don't harm people</li>
</ul>


<p>
I am also CTO and co-founder of <a href="http://jib.li">Jib.li</a>.
</p>
